<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> -->
    <title></title>

    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js" type="text/javascript"></script>

    <script src="Common.js" type="text/javascript"></script>
    <script src="BroadcastController.js" type="text/javascript"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Broadcast.css" rel="stylesheet" type="text/css" />
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl">
    <div style="position:relative;">
        <div id="leftDiv">
            <button ng-click="RedirectToMeetings()" class="btn btn-default" style="font-weight: bold; font-size: 20px;" once-style="{'display': ShowBroadcast}"> < </button>
            <button ng-click="UpdateStatus()" class="btn btn-default" id="status" style="width: 38px; height: 40px; margin-top: 2px;" title="{{BroadcastTooltip}}"> {{BroadcastSymbol}} </button>
        </div>
        <div id="rightDiv">
            <iframe frameborder="0" ng-src="{{BroadcastLink}}"></iframe>
        </div>
    </div>


</body>
</html>
