[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-Regular.otf");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-Extrabold.otf");
    font-weight: bolder;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-RegularItalic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-BoldIt.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-Light_0.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/Home/Fonts/ProximaNova-LightItalic.otf");
    font-weight: lighter;
    font-style: italic;
}

body {
    font-family: "Proxima Nova" !important;
}

.pointcur {
    cursor:pointer;
}
    .pointcur:hover {
        cursor: pointer;
    }