body, html {
    height:100%;
    /*overflow:hidden;*/
}
.mainCon {
    height: 100%;
    width: 400px;
    background-image: url(/Images/iPhone.png);
    background-position:top;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}

.header {
    color: #8967FF;
    font-size: 16px;
    font-weight:700;

}

.para {
    color: #637280;
    font-size: 13px;
    font-weight: 500;
}

.heading {
    color: #8967FF;
    font-weight: 700;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}