<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Common.js" type="text/javascript"></script>
    <script src="MeetingsController.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="Common.css">
    <link rel="stylesheet" href="Meetings.css">
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" ng-cloak>
    <!--<h1>
        Welcome To Main Page
    </h1>
    <button id="btnLogin" class="btn btn-primary btn-lg">Logout</button><br /><br />-->
    <div class="container mainCon">
        <div class="header">
            <h1 class="text-center" style="font-size:26px;font-weight:bold;color:#FFFFFF">My meetings</h1>
            <span class="pointcur"><a id="btnLogout" style="font-size:18px;font-weight:lighter;color:#FFFFFF;opacity:0.7">Log out &rarr;</a></span>
        </div>
        <ul>
            <li ng-repeat="meeting in Meetings | orderBy:'-created'" ng-if="meeting.status!='finished'" class="text-left pointcur"><h1 style="font-size:26px;font-weight:bold;color:#282b2e"><a href="Polls.html?meetingID={{meeting.id}}">{{meeting.id}}</a></h1></li>
        </ul>
    </div>
</body>
</html>