body, html {
    height: 100%;
    overflow: hidden;
}

.mainCon {
    height: 100%;
    width: 400px;
    background-color: #c5c4d3;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.header {
    padding: 5px;
    background-color: black;
    color: white;
    position: relative;
}

    .header span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }


            .header span a:hover {
                color: #FFFFFF;
                opacity: 0.7;
                text-decoration: none;
                cursor: pointer;
            }

    .header h1 {
        margin-top: 10px;
    }

ul {
    list-style: none;
    overflow-y: auto;
    height: calc(100% - 70px);
    padding-left:30px;
    padding-right:30px;
}

li {
    
    border-bottom: 1px solid #bbbac6;
}
li:last-child{
    margin-bottom:15px;
}
    li:hover {
        border-bottom: 2px solid #828186;
        cursor: pointer;
    }

    li h1 a {
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

        li h1 a:hover {
            color: black;
            text-decoration: none;

        }
